/* import font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* set background blue, change default padding, margins */
html {
    background-color: #ADD8E6;
    font-family: "Fredoka";
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* style divs for each chapter */
div {
    background-color: rgba(256, 256, 256, 0.5); /* sets background to 50% opacity */
    border: white solid 5px;
    margin: 30px 50px;
    padding: 10px;
    border-radius: 15px;
    padding-bottom: 30px;
}

h1 {
    padding-top: 30px;
    letter-spacing: 0.15em;
}

h2 {
    padding: 15px;
}

h3 {
    padding: 10px;
}

/* remove bullets from list items */
li {
    list-style-type: none;
    padding-right: 40px;
}

/* color headers based on which section they are in */
.a {
    color: #1f6fbf;
}

.b {
    color: #ba1c56;
}

.c {
    color: #c2a327;
}